*.gem
*.rbc
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
/spec/tmp
/spec/version_tmp
/tmp
/.bundle
/log/*.log
/test_app/db/*.sqlite3
/test_app/log/*.log
/test_app/tmp/
/test_app/.sass-cache
/test_app/config/mongoid.yml
/spec/rails
