language: ruby
rvm:
  - 2.4
  - 2.5
  - 2.6
  - 2.7
services:
  - mongodb
before_install:
  - gem update --system
  - gem install bundler
  - bundle update --bundler
jobs:
  include:
    - stage: test
      script: bundle exec rake
    - stage: codecheck
      script: bundle exec rubocop