name: Codecheck
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  codecheck:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.7 
        bundler-cache: true
    - run: bundle exec rubocop